.profile {
    height: 2000px;
    width: 1200px;
    background-color: rgb(233, 240, 238);
}
.manu{
    height: 200px;
    width: 900px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;   
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.wellcome{
    text-align: center;
    font-size: 20px;
    margin-top: -25px;
}
.pa {
    display: flex;
}

.txtt {
    text-align: center;
}

.p_pic {
    height: 180px;
    width: 187px;
    margin: 15px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(71, 194, 153);
    border-radius: 10%;
}

.p {
    border-radius: 50%;
}

.about {
    height: 195px;
    width: 600px;
    margin: 10px;
    margin-top: 22px;
    border-radius: 10px;
    background-color: rgb(47, 206, 206);
}

.txt {
    margin: 10px;
}

.box {
    margin: 10px;
    height: 50px;
    width: 880px;
    border-radius: 10px;
    background-color: rgb(78, 12, 12);
    display: flex;
}

.button {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 30px;
    background-color: aqua;
}

.gallery {
    height: 625px;
    width: 880px;
    margin: 10px;
    border-radius: 10px;
    background-color: chartreuse;
    border-radius: 10px;
}

.picc {
    height: 200px;
    width: 860px;
    margin: 5px;
    margin-top: -5px;
    margin-left: 10px;
    background-color: rgb(165, 226, 104);
    border-radius: 5;
    box-shadow: 10px;
}

.piccc {
    height: 180px;
    width: 187px;
    margin: 15px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: rgb(71, 194, 153);
    border-radius: 10%;
}

.abc {
    height: 200px;
    width: 860px;
    margin: 6px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: aqua;
    margin-top: -20px;
}
.piccc:hover{
    height: 175px;
    width: 185px;
}

.ed {
    height: 200px;
    width: 890px;
    background-color: rgb(169, 206, 194);
    border-radius: 10px;
}

.edu {
    margin: 5px;
}

table,
tr,
td {
    border: 2px solid;
    margin: 15px;
}

.contact {
    height: 370px;
    width: 890px;
    margin-top: 8px;
    background-color: rgb(59, 161, 161);
    border-radius: 10px;
}

.form {
    height: 300px;
    width: 400px;
    background-color: azure;
    margin: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.formm {
    margin: 10px;
    margin-top: 5px;
    text-align: center;
}
@media screen and(max-height:492px){
    .profile{
        width: 400px;
    }
}